.contact {
  form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    textarea {
      width: 100%;
      background: #333;
      border-radius: 0.5rem;
      padding: 1rem;
      margin: 0.7rem 0;
      font-size: 1.5rem;
      color: #fff;
      text-transform: none;
      resize: none;
    }
    .inputBox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      input {
        width: 100%;
        background: #333;
        border-radius: 0.5rem;
        padding: 1rem;
        margin: 0.7rem 0;
        font-size: 1.5rem;
        color: #fff;
        text-transform: none;
      }
    }
  }
}
